<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
    <bean id="sonnet29" class="com.springinaction.springidol.DIConstructorObjectRef.Sonnet29"/>
    <bean id="duke" class="com.springinaction.springidol.DIConstructorObjectRef.PoeticJuggler">
		<!-- no need to delare constructor args in the order they appear if you are providing index attribute -->
		<!--<constructor-arg ref="sonnet29" index="1"/> 
		<constructor-arg value="11" index="0"/>-->
		
		<!-- no need to delare constructor args in the order they appear if you are providing type attribute -->
		<!--<constructor-arg ref="sonnet29" type="com.springinaction.springidol.DIConstructorObjectRef.Poem"/> 
		<constructor-arg value="11" type="int"/>-->
		
		<!-- if constructor arg is a bean then it can be declared as inner bean. In this case no need to declare a separate bean for Sonnet29 -->
		<constructor-arg value="11" type="int"/>
		<constructor-arg>
				<bean class="com.springinaction.springidol.DIConstructorObjectRef.Sonnet29" />
		</constructor-arg>
		
		
	</bean>
  

</beans>