<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
    <bean id="sonnet29" class="com.springinaction.springidol.autowiringconstructor.Sonnet29"/>
    <bean id="duke" class="com.springinaction.springidol.autowiringconstructor.PoeticJuggler" autowire="constructor">

		<constructor-arg value="11" type="int"/>
		
	</bean>
  

</beans>